{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "chrome": "69"
                }
            }
        ]
    ],
    "plugins": [
        "istanbul",
        "@babel/proposal-class-properties"
    ]
}