{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": {
                    "node": "current",
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "istanbul",
        "@babel/plugin-transform-async-to-generator",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}