{
    "plugins": [
        "@typescript-eslint/eslint-plugin"
    ],
    "parser": "@typescript-eslint/parser",
    "extends": [
        "standard",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "mocha": true
    },
    "rules": {
        "semi": [
            "warn",
            "never"
        ],
        "no-var": [
            "error"
        ],
        "prefer-const": [
            "warn",
            {
                "destructuring": "all",
                "ignoreReadBeforeAssign": true
            }
        ],
        "@typescript-eslint/triple-slash-reference": [
            "off"
        ],
        "@typescript-eslint/no-explicit-any": [
            "off"
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "none"
            }
        ],
        "@typescript-eslint/camelcase": [
            "warn",
            {
                "properties": "never"
            }
        ]
    }
}